@model DaneModel

@{
    ViewData["Title"] = "Wynik";
}

<!DOCTYPE html>

<html>
<head>
    <title>Wynik</title>
    <style>
        .container{
        align-content: center;
        }
        .text-success{
        font-family: "Apple Color Emoji",system-ui;
        font-size: xx-large ;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-success">"Rejestracja zakończona pomyślnie"</h1>
    </div>
</body>
</html>